.idea
.vscode

*.markup
script/test
Pad.md
/bak
/mods
/script/tools/__pycache__

__init__.py
*.iml
out
mods

!/.idea/jsonSchemas.xml

translations/texts/monsters/skills/ranged/shared_Attack.monsterskill.json
translations/texts/objects/ship/shared_shiplockerTier0/shared_shiplockerTier0.object.json